
body {
    background-color: #fff;
    font-size: 1em;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #222;  
    margin: 2px;
}
